<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="game-of-life" status="WARN">

  <Appenders>
    <Console follow="true" name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="${PATTERN}"/>
    </Console>

    <RollingFile fileName="${sys:APP_LOG_ROOT}/server.log" filePattern="${sys:APP_LOG_ROOT}/server-log-%d{yyyy-MM-dd}.log"
      name="serverLog">
      <DefaultRolloverStrategy max="5"/>
      <PatternLayout pattern="${PATTERN}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
      </Policies>
    </RollingFile>

    <RollingFile fileName="${sys:APP_LOG_ROOT}/request.log" filePattern="${sys:APP_LOG_ROOT}/request-log-%d{yyyy-MM-dd}.log"
      name="requestLog">
      <DefaultRolloverStrategy max="5"/>
      <PatternLayout pattern="${PATTERN}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger additivity="false" name="io.github.aj8gh.gameoflife.api.client.ApiClient">
      <AppenderRef ref="requestLog"/>
    </Logger>

    <Root level="INFO">
      <AppenderRef ref="console"/>
      <AppenderRef ref="serverLog"/>
    </Root>
  </Loggers>

  <Properties>
    <Property name="APP_LOG_ROOT">./logs</Property>
    <Property name="PATTERN">%d %c{1.} [%t] %level - %m%n</Property>
  </Properties>
</Configuration>
