<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="game-of-life">

    <Properties>
        <Property name="APP_LOG_ROOT">./logs</Property>
        <Property name="PATTERN">%d %c{1.} [%t] %level - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="serverLog" fileName="${sys:APP_LOG_ROOT}/server.log"
                     filePattern="${sys:APP_LOG_ROOT}/server-log-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <RollingFile name="requestLog" fileName="${sys:APP_LOG_ROOT}/request.log"
                     filePattern="${sys:APP_LOG_ROOT}/request-log-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="serverLog"/>
        </Root>

        <Logger name="aj8gh.gameoflife.apiclient.ApiClient" additivity="false">
            <AppenderRef ref="requestLog"/>
        </Logger>
    </Loggers>
</Configuration>
